.qualifications-container {
    max-width: 768px;
}

.qualifications-tabs {
    display: flex;
    justify-content: center;
    margin-bottom: var(--mb-2);
}

.qualifications-button {
    font-size: var(--h3-font-size);
    font-weight: var(--font-medium);
    color: var(--title-color);
    margin: 0 var(--mb-1);
    cursor: pointer;
}

.qualifications-button:hover {
    color: var(--title-color-dark);
}

.qualifications-icon {
    font-size: 1.8rem;
    margin-right: var(--mb-0-25);
}

.qualifications-active {
    color: var(--title-color-dark);
}

.qualifications-sections {
    display: grid;
    grid-template-columns: 0.5fr;
    justify-content: center;
}

.qualifications-content {
    display: none;
}

.qualifications-content-active {
    display: block;
}

.qualifications-data {
    display: grid;
    grid-template-columns: 3fr max-content 3fr;
    column-gap: 1.5rem;
}

.qualifications-title {
    width: 100%;
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
}
 
.qualifications-subtitle {
    display: inline-block;
    font-size: var(--tiny-font-size);
    margin-bottom: var(--mb-1);
}

.qualifications-calendar {
    font-size: var(--small-font-size);
}

.qualifications-calendar i{
    padding-right: 0.5rem;
}

.qualifications-rounder {
    display: inline-block;
    width: 13px;
    height: 13px;
    background-color: var(--title-color-dark);
    border-radius: 50%;
}

.qualifications-line {
    display: block;
    width: 1px;
    height: 100%;
    background-color: var(--title-color-dark);
    transform: translate(6px, -7px);
}

@media screen and (max-width: 992px) {
    .qualifications-container {
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (max-width: 768px) {
    .qualifications-container {
        margin-left: var(--mb-1);
        margin-right: var(--mb-1);
    }
}

@media screen and (max-width: 576px) {
    .qualifications-sections {
        grid-template-columns: initial;
    }

    .qualifications-button {
        margin: 0 var(--mb-0-75);
    }
}

@media screen and (max-width: 350px) {
    .qualifications-data {
        gap: 0.5rem;
    }
}